.main-instructions-container {
  background-color: gold;
}

.main-instructions {
  padding: 50px 30px 35px 30px;
  font-family: 'Titillium Web', sans-serif;
  line-height: 30px;
  text-align: center;
}

.instruction-icon {
  height: 150px;
}

@media only screen and (max-width: 420px) {
  .main-instructions h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 0 20px
  }

  .instruction-icon {
    height: 130px;
  }
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .main-instructions {
    padding: 45px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .main-instructions {
    margin: auto;
    max-width: 800px;
    padding: 70px 90px 60px 90px;
  }

  .main-instructions h2 {
    font-size: 40px;
  }

  .instruction-icon {
    height: 180px;
  }
}
