.back-button {
  background-color: dimGrey;
  border-color: black;
  border-radius: 10px;
  color: silver;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  left: 20px;
  padding: 8px 10px;
  position: absolute;
  top: 20px;
}

.back-button:hover {
  box-shadow: 0 0 1px white;
}

.title-bar-link-component {
  text-decoration: none
}

.title-bar-title {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  margin: 18px;
}

.title-bar-title:hover {
  text-shadow: 0 0 1px white;
}

.title-bar {
  background-color: #2b2c2d;
  color: white;
  padding: 5px 0;
  text-align: center;
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .title-bar-title {
    font-size: 32px;
  }

  .back-button {
    padding: 10px 12px;
    font-size: 14px;
    top: 22px
  }
}

@media only screen and (min-width: 901px) {
  .back-button {
    top: 25px;
    left: 30px
  }

  .title-bar-title {
    font-size: 34px
  }
}
