.about-button {
  background-color: white;
  border: 2px solid gold;
  border-radius: 100px;
  padding: 5px 30px;
}

.about-button:hover {
  box-shadow: 0 0 5px grey;
  cursor: pointer
}

.main-about-link {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px
}

.main-about-link-component {
  text-decoration: none
}

.main-about {
  background-color: lightGrey;
  font-family: 'Titillium Web', sans-serif;
  line-height: 25px;
  padding: 45px 30px 25px 30px;
  text-align: center;
}

.main-about p {
  padding-top: 10px
}
