form * {
  display: block;
}

.add-workout-button {
  border: 2px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 70px;
  margin: 12px auto 10px auto
}

.add-workout-button:hover {
  background-color: rgba(66, 134, 244, 0.4);
  cursor: pointer;
}

.add-workout-input {
  font-size: 25px;
  width: 400px;
  margin: auto;
  padding: 6px 20px
}
