.workout-log-button {
  background-color: rgba(255, 215, 0, 0.5);
  border: 2px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px auto;
  padding: 8px 60px;
}

.workout-log-button-component {
  text-align: center
}

.workout-log-button:hover {
  background-color: silver;
  cursor: pointer;
}

.start-title {
  font-weight: bold;
  font-size: 20px
}

.start-text {
  padding: 0 0 20px 0;
  margin-top: 10px;
  line-height: 26px;
  font-size: 16px
}

@media only screen and (max-width: 500px) {
  .start-title {
    font-size: 16px
  }

  .start-text {
    padding: 0 0 10px 0;
    line-height: 20px;
    font-size: 14px
  }
}
