.dashboard {
  padding: 20px
}

.workout-log-button {
  border: 2px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 15px;
}

.workout-log-button:hover {
  background-color: rgba(255, 215, 0, 0.8);
  cursor: pointer;
}

@media only screen and (max-width: 420px) {

}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .dashboard {
    padding: 45px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .dashboard {
    margin: auto;
    max-width: 800px;
    padding: 40px 90px 60px 90px;
  }
}
