.edit-section {
  padding: 10px 20px
}

.edit-workout-name-button, .edit-submit-button, .edit-cancel-button, .add-exercise-button, .edit-workout-name-form-submit, .edit-workout-name-form-cancel {
  border: 2px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 10px;
  padding: 10px 15px;
}

.workout-name, .edit-workout-name-button {
  display: inline-block;
  margin-right: 20px
}

.edit-workout-name * {
  display: inline-block;
}

#edit-workout-name {
  margin-right: 10px
}

.add-exercise-button {
  display: block;
  margin: 20px 0;
}

.edit-workout-name-button:hover, .edit-submit-button:hover, .edit-cancel-button:hover, .add-exercise-button:hover, .edit-workout-name-form-submit:hover, .edit-workout-name-form-cancel:hover {
  background-color: rgba(255, 215, 0, 0.8);
  cursor: pointer
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .edit-section {
    padding: 35px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .edit-section {
    margin: auto;
    max-width: 800px;
    padding: 30px 90px 60px 90px;
  }
}
