.edit-section {
  padding: 10px 20px
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .edit-section {
    padding: 35px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .edit-section {
    margin: auto;
    max-width: 800px;
    padding: 30px 90px 60px 90px;
  }
}
