.individual-exercise-edit {
  background-color: white;
  padding: 15px 60px;
  width: 280px;
  border-radius: 5px
}

.individual-exercise-edit:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%)
}

.edit-exercise-name label {
  font-size: 20px
}

#edit-exercise-name {
  margin-top: 10px;
  padding-left: 5px
}

@media only screen and (max-width: 550px) {
  .individual-exercise-edit {
    padding: 15px 30px
  }
}
