li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 20px 0 0 0
}

.footer {
  background-color: grey;
  padding: 10px 0;
  text-align: center;
}

.social-media-icons a {
  color: black
}

.social-media-icons a:hover {
  opacity: 0.5
}

.social-media-icon {
  height: 35px
}
