.footer {
  background-color: grey;
  padding: 10px 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 20px 0 0 0
}

.social-media-icon {
  height: 35px
}

.social-media-icons a {
  color: black
}

.social-media-icons a:hover {
  opacity: 0.5
}
