.logout-button {
  padding: 5px 10px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  margin-top: 10px;
  position: absolute;
  right: 15px
}

.user-title-bar {
  background-color: #2b2c2d;
  padding: 10px 0;
  text-align: center;
  color: white
}

.home-icon {
  height: 30px;
  position: absolute;
  left: 25px;
  top: 20px
}

.user-title-bar h2 {
  font-size: 18px
}

.user-title-bar * {
  display: inline-block;
}
