.logout-button {
  background-color: lightGrey;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  padding: 8px 10px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.user-title-bar {
  background-color: #2b2c2d;
  padding: 10px 0;
  text-align: center;
  color: white
}

.home-button {
  background-color: lightGrey;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  left: 20px;
  padding: 8px 10px;
  position: absolute;
  top: 22px;
}

.user-title-bar h2 {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin: 14px
}

.user-title-bar * {
  display: inline-block;
}

.header-bar-link-component {
  text-decoration: none
}

.header-bar-title {
  color: white;
}

.header-bar-title:hover {
  text-shadow: 0 0 1px white;
}
