.logout-button {
  position: absolute;
  right: 15px;
  top: 20px;
  background-color: lightGrey;
  position: absolute;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
}

.user-title-bar {
  background-color: #2b2c2d;
  padding: 10px 0;
  text-align: center;
  color: white
}

.home-icon {
  height: 30px;
  position: absolute;
  left: 25px;
  top: 24px
}

.user-title-bar h2 {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin: 14px
}

.user-title-bar * {
  display: inline-block;
}
