.main-information-icon {
  float: left;
  height: 90px;
  padding: 10px 20px 25px 15px;
}

.main-information-header {
  line-height: 35px;
}

.main-information {
  background-color: white;
  color: #3d3d3d;
  line-height: 25px;
  font-family: 'Titillium Web', sans-serif;
  padding: 45px 30px 35px 30px;
  text-align: center;
}

.main-information p {
  clear: both;
}

@media only screen and (max-width: 420px) {
  .main-information-icon {
    float: none;
    height: 120px;
    padding: 0
  }

  .main-information-header {
    font-size: 30px;
    padding: 0 20px
  }
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .main-information-icon {
    height: 120px;
    padding: 10px 30px 35px 15px;
  }

  .main-information-header {
    font-size: 35px;
    line-height: 45px
  }

  .main-information {
    padding: 45px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .main-information-icon {
    height: 250px;
    padding: 40px 50px 65px 15px;
  }

  .main-information p {
    clear: none;
  }

  .main-information-header {
    font-size: 35px;
    line-height: 45px;
    margin-top: 0
  }

  .main-information {
    margin: auto;
    max-width: 800px;
    padding: 70px 90px 60px 90px;
  }
}
