.main-information-icon {
  float: left;
  height: 90px;
  padding: 10px 20px 25px 15px;
}

.main-information-header {
  line-height: 35px;
}

.main-information {
  background-color: white;
  color: #3d3d3d;
  line-height: 25px;
  font-family: 'Titillium Web', sans-serif;
  padding: 45px 30px 35px 30px;
  text-align: center;
}

.main-information p {
  clear: both;

}
