.main-instructions {
  /* background: white url("https://www.publicdomainpictures.net/pictures/220000/velka/open-blank-notebook-black-amp-white.jpg") no-repeat fixed center; */
  background-color: dimGrey;
  padding: 45px 20px 25px 20px;
  line-height: 25px;
  text-align: center
}

.instruction-icon {
  height: 150px;
}
