.main-instructions {
  /* background: white url("https://www.publicdomainpictures.net/pictures/220000/velka/open-blank-notebook-black-amp-white.jpg") no-repeat fixed center; */
  background-color: dimGrey;
  padding: 30px 20px 10px 20px;
  line-height: 25px
}

.instruction-icon {
  height: 150px;
}
