.login-form {
  font-family: 'Titillium Web', sans-serif;
}

.login-form-button {
  padding: 10px 15px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 14px;
  color: black;
  margin-top: 15px;
  font-family: 'Titillium Web', sans-serif;
}

.login-form-button:hover {
  background-color: rgba(255, 215, 0, 0.5);
  border: 2px solid silver;
  cursor: pointer
}
