.login-form-section {
  padding: 10px 20px
}

.login-form-section p {
  font-size: 14px
}

.login-button {
  padding: 10px 15px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 14px;
  color: black;
  margin-top: 10px
}
