.mini-workout-log-title {
  margin-bottom: 0;
  color: black
}

@media only screen and (max-width: 640px) {
  .mini-workout-log {
    padding: 10px 10px 25px 10px;
  }

  .mini-workout-log-title {
    padding-left: 20px
  }
}

@media only screen and (min-width: 641px) and (max-width: 900px) {
  .mini-workout-log {
    padding: 20px 90px 25px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .mini-workout-log {
    margin: auto;
    max-width: 800px;
    padding: 20px 90px 60px 90px;
  }
}
