.registration-form {
  font-family: 'Titillium Web', sans-serif;

}

input {
  font-size: 16px;
  padding: 5px;
  margin: 2px 0 6px 0;
  border: 2px solid lightGrey;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.submit-button {
  padding: 10px 15px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 14px;
  color: black;
  margin-top: 10px;
  font-family: 'Titillium Web', sans-serif;
}
