.title-bar {
  background-color: #2b2c2d;
  padding: 5px 0;
  text-align: center;
  color: white;
}

.back-button {
  background-color: lightGrey;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
}

.title-bar-title {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin: 18px
}
