.title-bar {
  background-color: #2b2c2d;
  padding: 5px 0;
  text-align: center;
  color: white
}

.back-button {
  background-color: lightGrey;
  position: absolute;
  left: 25px;
  top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}
