main {
  position: relative;
  top: 100px;
  padding-bottom: 80px;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
  margin: auto
}

.card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 0 1.4em 1.4em 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 100%;
}
