.edit-workout-button, .delete-workout-button {
  border: 1px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 10px;
  padding: 5px 10px;
}

.edit-workout-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer
}

.delete-workout-button:hover {
  background-color: rgba(225, 0, 0, 0.4);
  cursor: pointer
}

.individual-workout-title {
  margin: 0;
  font-size: 28px;
  color: #e74c3c;
}

.individual-workout-date {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  vertical-align: middle;
  color: dimGrey;
  float: right
}

hr {
  background-color: 'silver';
  color: 'silver';
  height: 1;
  margin: 15px 0;
  width: 500px
}

.individual-workout {
  background-color: white;
  margin: 20px;
  padding: 30px 50px;
  border-radius: 5px
}

.individual-workout:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%)
}

@media only screen and (max-width: 550px) {
  hr {
    width: 200px
  }
}

@media only screen and (min-width: 551px) and (max-width: 670px) {
  hr {
    width: 400px
  }
}
