.edit-workout-button, .delete-workout-button {
  border: 1px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 15px;
  padding: 5px 10px;
  position: relative;
  right: -500px
}

.edit-workout-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer
}

.delete-workout-button:hover {
  background-color: rgba(225, 0, 0, 0.4);
  cursor: pointer
}

.individual-workout-title {
  margin: 0;
  font-size: 28px;
  color: #e74c3c;
}

.individual-workout-date {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  vertical-align: middle;
  color: dimGrey;
  float: right
}

.individual-workout {
  background-color: white;
  margin: 20px;
  padding: 30px 70px 25px 70px;
  border-radius: 5px
}

.individual-workout:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%)
}

@media only screen and (max-width: 584px) {
  .individual-workout {
    padding: 30px 40px 25px 40px;
    margin: 20px 10px
  }

  .individual-workout-date {
    float: none;
    display: block;
    padding: 5px 0
  }

  .edit-workout-button, .delete-workout-button {
    right: 0
  }
}

@media only screen and (min-width: 585px) and (max-width: 640px) {
  .individual-workout-date {
    float: none;
    display: block;
    padding: 5px 0
  }

  .edit-workout-button, .delete-workout-button {
    right: -100px
  }
}

@media only screen and (min-width: 641px) and (max-width: 730px) {
  .individual-workout-date {
    float: none;
    display: block;
    padding: 5px 0
  }

  .edit-workout-button, .delete-workout-button {
    right: -200px
  }
}

@media only screen and (min-width: 731px) and (max-width: 850px) {
  .edit-workout-button, .delete-workout-button {
    right: -300px
  }
}

@media only screen and (min-width: 851px) and (max-width: 950px) {
  .edit-workout-button, .delete-workout-button {
    right: -400px
  }
}
