.workout-log {
  padding: 20px
}

.workout-log-title {
  margin-bottom: 0;
  color: black
}

.workout-back-button {
  float: right;
  vertical-align: middle;
  position: relative;
  top: -40px;
  right: 100px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  color: black;
  font-size: 12px;
  padding: 10px;
}

.workout-back-button:hover {
  background-color: silver;
  cursor: pointer;
}

@media only screen and (min-width: 581px) and (max-width: 900px) {
  .workout-log {
    padding: 30px 90px 35px 90px;
  }
}

@media only screen and (min-width: 901px) {
  .workout-log {
    margin: auto;
    max-width: 800px;
    padding: 30px 90px 60px 90px;
  }
}
